.popup {
	display: none;
	max-width: 936px;
}

.fancybox-slide--html .fancybox-close-small {
	padding: 0;
	width: 24px;
	height: 24px;
	top: 24px;
	right: 24px;
}

.fancybox-content {
	padding: 50px;
}
