.popup {
	&.medium-padding {
		padding: 50px;
	}

	&.big-padding {
		padding: 100px;
	}

	@include media-breakpoint-down(md) {
		&.medium-padding,
		&.big-padding {
			padding: 0;
		}
	}
}
.fancybox-container {
	z-index: 999;
}
.fancybox-content {
	padding: 0 !important;
}

.fancybox-slide--html .fancybox-close-small {
	right: 24px;
	top: 24px;
	padding: 0;
	width: 24px;
	height: 24px;
}

.fancybox-content {
	padding: 50px;
}

.cookie {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	background-color: rgba(0, 0, 0, 0.55);

	&-content {
		padding: 24px 0;
		background: #fff;
	}

	&-more {
		display: inline;
		border: none;
		padding: 0;
		text-decoration: underline;
		color: $color-graphite;
		background: none;
		text-decoration-skip-ink: none;
		text-decoration-thickness: from-font;

		&--show {
			@include media-breakpoint-only(xs) {
				display: none;
			}
		}
	}
}
