.to-top {
	position: fixed;
	right: 156px;
	bottom: 156px;
	z-index: 15;
	border: none;
	background: #fff;
	border-radius: 100%;
	padding: 12px;
	width: 48px;
	height: 48px;
	box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0 8px 24px -4px rgba(24, 39, 75, 0.08);
	opacity: 0;
	transition: opacity $duration-normal;
	pointer-events: none;

	&.is-visible {
		opacity: 1;
		pointer-events: all;
	}

	@include media-breakpoint-down(lg) {
		right: 60px;
		bottom: 60px;
	}

	@include media-breakpoint-only(xs) {
		right: 12px;
		bottom: 40px;
	}
}
