.popup.popup-mail#popup-mail
	.block_callback&attributes(attributes)
		.row.align-items-md-center
			.col-md-5
				+lazyPicture({
					src: `${baseDir}images/blocks/callback.jpeg`,
					alt: 'Погрузиться в мир Hanro - изображение',
				}).block_callback-img
			.col-md-6.ms-md-auto
				.block_callback-content
					.block_callback-title.h1.mb-24
						| Погрузиться в мир Hanro
					.block_callback-text.mb-50
						| Подпишитесь на рассылку и первыми получайте новости о Hanro, информацию о модных трендах, новых коллекциях и специальных предложениях.
					form.form
						.block_callback__form-row.mb-24
							.block_callback__form-input
								label.form__group.form__group__up
									.form__group-label.form__group__up-label
										| Ваш email
									input.form__group-input.form__group__up-input(type="text" required)
									.form__group-error
										| Описание ошибки
							.form-btn.block_callback__form-btn
								button.btn.btn-secondary.btn-small
									span
										| Подписаться
						.block_callback__form-agree
							.block_callback__form-agree--item
								label.checkbox
									input(type="checkbox").checkbox-input
									.checkbox-box
										+svg('check')
									.checkbox-text
										| Согласен на
										|
										a(href="#")
											| обработку персональных данных
							.block_callback__form-agree--item
								label.checkbox
									input(type="checkbox").checkbox-input
									.checkbox-box
										+svg('check')
									.checkbox-text
										| Согласен на
										|
										a(href="#")
											| получение рассылок

.cookie
	.cookie-content
		.container
			.row.align-items-md-center
				.col-md.text-small
					| Мы используем файлы cookie, которые помогают анализировать поведение пользователей и предлагать наиболее интересные товары, основываясь на
					button.cookie-more.d-sm-none
						| ещё
					span.cookie-more--show
						| пользовательских предпочтениях. Благодаря cookie работа с сайтом становится более удобной и эффективной, улучшается работоспособность, навигация и пользовательский опыт. Обращаем внимание, что при блокировке файлов cookie некоторые функции могут работать недостаточно корректно. Ознакомьтесь с нашей политикой обработки файлов cookie.
				.col.d-md-none.mb-24
				.col-md-auto
					button.btn.btn-black.btn-big.cookie-accept.btn-xs-full
						| Согласиться
