main.error.text-center.d-flex.flex-column.justify-content-center
	.container
		.row.justify-content-center
			.col-lg-6.col-md-8
				img(src="images/logo.svg" alt="").mb-50
				h1.mb-16
					| Сервис временно недоступен
				p.text-row
					| Пожалуйста, повторите попытку через несколько минут, либо свяжитесь с нами:
					br
					a(href="tel: +74954996567").link
						|8 495 499 65 67
