main.help.mt-100.mb-100
	.container.payment
		.row
			.col-12.col-md-3
				include ../components/helpAside
			.col-12.col-md-8.offset-md-1
				.payment-info
					h1 Способы оплаты
					p При выборе способов доставки «VIP-шопер» и «Самовывоз из салона» вы можете оплатить заказ наличными, банковской картой или через платежную ссылку.
					p При выборе способа доставки «Курьерской службой СДЭК» оплата заказа возможна только банковской картой на сайте. Оплата происходит через платежный шлюз ПАО Сбербанка на сайте банка. Данные пластиковой карты покупателя передаются в процессинговый центр по защищенному каналу связи SSL в зашифрованном виде и не сохраняются ни в каких файлах или базах данных интернет-магазина.
