main.help.mt-100.mb-100
	.container.return
		.row
			.col-12.col-md-3
				include ../components/helpAside
			.col-12.col-md-8.offset-md-1
				.return-info
					h1 Возврат
					p Потребитель вправе отказаться от товара в любое время до его передачи потребителю, а после передачи товара - в течение семи дней.
					p Возврат товара надлежащего качества потребителем возможен в случае, если сохранены товарный вид и потребительские свойства товара, а также документ, подтверждающий факт и условия покупки указанного товара.
					p Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его потребителем.
					p Согласно п. 5 Перечня непродовольственных товаров надлежащего качества, не подлежащих обмену, утвержденного Постановлением Правительства РФ от 31.12.2020 г. N 2463 "Об утверждении Правил продажи товаров по договору розничной купли-продажи, перечня товаров длительного пользования, на которые не распространяется требование потребителя о безвозмездном предоставлении ему товара, обладающего этими же основными потребительскими свойствами, на период ремонта или замены такого товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих обмену, а также о внесении изменений в некоторые акты Правительства Российской Федерации" швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные) возврату и обмену не подлежат, поэтому рекомендуем проверять товары в полученном заказе и их соответствие заказу при курьере.
					p В случае обнаружения потребителем недостатков товара и предъявления требования о его замене продавец обязан заменить такой товар в течение семи дней со дня предъявления указанного требования потребителем, а при необходимости дополнительной проверки качества такого товара продавцом (проведение товарной экспертизы) - в течение двадцати дней со дня предъявления указанного требования.
					p Если в результате экспертизы товара будет установлено, что его недостатки возникли вследствие обстоятельств, за которые не отвечает продавец, потребитель обязан возместить продавцу расходы на проведение экспертизы, а также связанные с ее проведением расходы на хранение и транспортировку товара.
					p Если у продавца в момент предъявления требования потребителя отсутствует необходимый для замены товар, замена должна быть проведена продавцом в течение месяца со дня предъявления такого требования.
					p В случае возврата потребителем товара надлежащего качества и соответствующего заказу, расходы на возврат товара продавцу несет потребитель.
					p В случае возврата потребителем товара ненадлежащего качества или несоответствующего заказу, расходы на возврат товара продавцу и повторную доставку товара покупателю несет продавец.
					p При отказе потребителя от товара продавец обязан возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования.
					p Для оформления возврата товара необходимо:
					p 1. Составить заявление о возврате товара по установленной форме с указанием своих паспортных данных и расчетного счета (Образец заявления можно получить у оператора интернет-магазина, позвонив по телефону 8 (800) 500 56 10).
					p 2. Приложить к заявлению копию платежного поручения, подтверждающего оплату товара.
					p 3. Приложить к заявлению копию накладной на товар, которая была получена покупателем вместе с товаром.
					p 4. Проверить соответствие возвращаемого товара следующим требованиям:
					p сохранен товарный вид товара и его индивидуальной упаковки;
					p сохранены потребительские свойства товара;
					p сохранены фабричные ярлыки на товаре.
					p 5. Связаться с оператором интернет-магазина для возврата товара.
					p Претензию к качеству товара и действиям продавца потребителю следует направлять по адресу продавца, указанному на сайте интернет-магазина.
					p Прием возвращаемого потребителем товара производится по адресу: 119334, г. Москва, 5-й Донской проезд, д. 21Б, строение 10, ежедневно с 9:00 до 19:00 после предварительного согласования факта возврата товара с менеджером интернет-магазина по телефону 8 (800) 500 56 10.
					p Если у потребителя нет возможности лично доставить возвращаемый товар по указанному выше адресу, то ему рекомендуется воспользоваться услугами любой курьерской службы, также после предварительного согласования факта возврата товара с менеджером интернет-магазина по телефону 8 (800) 500 56 10.
