main.personal.mt-100.mb-100
	.container.data
		.row
			.col-12.col-md-3
				p aside
			.col-12.col-md-9
				h1 Личные данные
				form.form.mt-100
						label.form__group.form__group__left
							.form__group-label.form__group__left-label
								| Имя
							input.form__group-input.form__group__up-input(type="text" required placeholder="+7 ___ ___ __ __")
							.form__group-error
								| Описание ошибки
						label.form__group.form__group__left
							.form__group-label.form__group__left-label
								| Фамилия
							input.form__group-input.form__group__up-input(type="text" required placeholder="+7 ___ ___ __ __")
							.form__group-error
								| Описание ошибки
						label.form__group.form__group__left
							.form__group-label.form__group__left-label
								| Фамилия
							input.form__group-input.form__group__up-input(type="text" required placeholder="+7 ___ ___ __ __")
							.form__group-error
								| Описание ошибки
							input(type="radio" name="gender" value="male")
							input(type="radio" name="gender" value="female")
						label.form__group.form__group__left
							.form__group-label.form__group__left-label
								| Дата рождения
							input.form__group-input.form__group__up-input(type="date")
							.form__group-error
								| Описание ошибки
						label.form__group.form__group__left
							.form__group-label.form__group__left-label
								| Email
							input.form__group-input.form__group__up-input(type="email")
							.form__group-error
								| Описание ошибки
						label.form__group.form__group__left
							.form__group-label.form__group__left-label
								| Согласен на обработку персональных данных
							input.form__group-input.form__group__up-input(type="checkbox")
							.form__group-error
								| Описание ошибки

						button.btn-primary(type="submit") Сохранить

						.grey-line

						.deliveries
							h3 Адреса доставки
							p Сохраняйте адреса доставки, чтобы не вводить их при повторных заказах.
							button.btn-primary(type="submit") Добавить новый адрес
						.grey-line
							a.btn-secondary.btn-small.ttu(href="#") 
								span Удалить аккаунт
	