main.personal.mt-100.mb-100
	.container.loyalty
		.row
			.col-12.col-md-3
				include ../components/personalAside
			.col-12.col-md-8.offset-md-1
				a.back(href="#")
					+svg('arrow')
				h1 Программа лояльности
				.loyalty-list
					.empty
						p 
							| Добро пожаловать в мир привелегий бренда HANRO.
						p
							| Совершайте покупки, получайте скидки и бонусные баллы, которыми можно оплатить до 50% от заказа.
					.item
						img(src="/images/Image-base-for-card.png")
						.info
							h3 Gold
							p Скидка: <span>3%</span>
							p Бонус: <span>5%</span>
							p.total Сумма бонусов: <span>34 566 руб.</span>
							.grey-line
							p.the-next-level-play
								| Для перехода на следующий уровень программы лояльности вам необходимо набрать ХХХ бонусов
				.loyalty-about
					| Подробнее о
					|
					a(href="#")
						| программе лояльности