mixin block_callback(item)
	.block_callback.pt-100.pb-100&attributes(attributes)
		.container
			.row.align-items-md-center
				.col-md-6
					+lazyPicture({
						src: item.img,
						alt: `${item.title} - изображение`,
					}).block_callback-img
				.col-lg-5.col-md-6.ms-lg-auto
					.block_callback-content
						.block_callback-title.h1.mb-24
							| !{item.title}
						.block_callback-text.mb-50
							| !{item.text}
						form.form
							.block_callback__form-row.mb-24
								.block_callback__form-input
									label.form__group.form__group__up
										.form__group-label.form__group__up-label
											| Ваш email
										input.form__group-input.form__group__up-input(type="text" required)
										.form__group-error
											| Описание ошибки
								.form-btn.block_callback__form-btn
									button.btn.btn-secondary.btn-small
										span
											| Подписаться
							.block_callback__form-agree
								.block_callback__form-agree--item
									label.checkbox
										input(type="checkbox").checkbox-input
										.checkbox-box
											+svg('check')
										.checkbox-text
											| Согласен на
											|
											a(href="#")
												| обработку персональных данных
								.block_callback__form-agree--item
									label.checkbox
										input(type="checkbox").checkbox-input
										.checkbox-box
											+svg('check')
										.checkbox-text
											| Согласен на
											|
											a(href="#")
												| получение рассылок




