mixin block_detail-slider(title, link, ...items)
	div.block_slider-products&attributes(attributes)
		.container
			if title
				.block_slider-products--title.h1.mb-24
					| !{title}
			.swiper.block_slider-products__slider.js-slider-detail
				.swiper-wrapper
					each item in items
						.swiper-slide.block_slider-products__slider-item--wrapper
							.block_slider-products__slider-item
								+card(item)

				button.block_slider-products__slider-arrow.block_slider-products__slider-arrow--left.slider__arrow-long.slider__arrow-left
					+svg('arrow_left')
				button.block_slider-products__slider-arrow.block_slider-products__slider-arrow--right.slider__arrow-long.slider__arrow-right
					+svg('arrow_right')
