.block_content-aside {
	&--title {
		text-align: center;
	}

	&__item {
		margin-bottom: 24px;

		@include media-breakpoint-only(xs) {
			margin-bottom: 40px;
		}

		&-img {
			display: block;

			&--wrapper {
				@include media-breakpoint-down(sm) {
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
