.block_content {
	text-align: center;

	&-image {
		display: inline-block;

		picture {
			display: block;
		}
	}

	//&-text {
	//	img {
	//		margin-top: 24px;
	//	}
	//}

	&__separated {
		width: 72px;
		height: 2px;
		display: inline-block;
		background: $color-hover-silver;
	}

	&__links {
		text-align: center;

		&-item {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-quote {

		&--text {
			color: $color-black;
		}

		&--author {
			font-size: 12px;
			line-height: 1;
		}
	}
}
