.block_heading-under {
	text-align: center;

	&--item {
		margin-bottom: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&--media {
		display: block;

		picture {
			display: block;
		}
	}

	&--text {
		line-height: 1;
	}

	&--link {

	}

	&__slider {

		&-item {
			@include media-breakpoint-between(xs,md) {
				padding: 0 64px;
			}
			box-sizing: border-box;
		}

		&-arrow {
			position: absolute;
			top: 50%;
			height: 86px;
			padding-bottom: 62px;
			transform: translateY(-50%);
			z-index: 10;
			&--left {
				left: 0;
			}
			&--right {
				right: 0;
			}
			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}
}
