extends pug/base

prepend vars
	//-

append vars
	//-

block content
	include pug/data

	include pug/components/header

	include pug/pages/helpPayment

	include pug/components/footer

	include pug/components/analytics
