*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: $font-primary;
	scroll-behavior: smooth;
	overflow: inherit;
	&.has-cursor,
	&.has-cursor * {
		// stylelint-disable-next-line
		cursor: none !important;
	}

	&.is-lock-scroll,
	&.is-lock-scroll body {
		overflow: hidden;
	}
}

body {
	font-size: 16px;
	line-height: 1.38;
	letter-spacing: 0.1px;

	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

main {
	flex: 1;
}

p {
	margin: 0;
}

a,
button {
	outline: none;
	transition: $duration-normal;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

figure,
picture {
	display: inline-block;
	margin: 0;
	line-height: 0;

	img {
		width: 100%;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

img[draggable="false"] {
	pointer-events: none;
	// stylelint-disable-next-line
	-webkit-user-drag: none;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

video {
	outline: none;
	width: 100%;
	height: 100%;
}

iframe {
	display: block;
}

.btn {
	display: inline-block;
	font-size: 16px;
	font-family: $font-primary;
	line-height: 1.25;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	background: none;
	border: none;
	white-space: nowrap;
	max-width: 100%;

	&-primary {
		height: 48px;
		border: 1px solid $color-black;
		background: #fff;
		font-family: 'FuturaLightC';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 5px;
		letter-spacing: 0.4px;

		&:hover {
			background: $color-black-hover;
			color: #fff;
		}
	}

	&-photo {
		white-space: nowrap;
		text-transform: uppercase;
		color: #fff;
		background: rgba(0, 0, 0, 0.6);
	}

	&-secondary {
		background-color: transparent;
		transition: $duration-normal background-color $easing-back-out;

		span {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 0.5px;
				width: 100%;
				background: currentColor;
				transition: $duration-normal opacity $easing-back-out;
			}
		}

		&:hover {
			background: $color-hover-silver;

			span:after {
				opacity: 0;
			}
		}
	}

	&-black {
		background-color: $color-black;
		white-space: nowrap;
		text-transform: uppercase;
		color: #fff;
	}

	&-small {
		padding: 13.5px 12px 10.5px;
		@include media-breakpoint-only(xs) {
			font-size: 13px;
		}
	}

	&-big {
		padding: 16px 16px 12px;
	}

	@include media-breakpoint-only(xs) {
		&-xs-full {
			width: 100%;
		}
	}
}

.link {
	font-size: 13px;
	line-height: 1.0769;
	letter-spacing: 0.25px;
	position: relative;
	color: $color-black-hover;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: underline from-font;
	text-decoration-skip-ink: none;
}

.js-lazy-load:not(.is-loaded) {
	max-height: 50vh;
}

h1,
.h1 {
	font-family: $font-second;
	font-size: 24px;
	line-height: 1.08;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: $color-black-hover;
	font-weight: 400;
	margin: 0;
	@include media-breakpoint-only(xs) {
		font-family: $font-primary;
		font-size: 20px;
		line-height: 1.1;
	}
}

h2,
.h2 {
	font-size: 20px;
	line-height: 1.1;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: $color-black;
	font-weight: 400;
	margin: 0;
}

h3,
.h3 {
	font-family: $font-second;
	font-size: 15px;
	line-height: 1.3333;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: $color-graphite;
	font-weight: 400;
	margin: 0;
}

.big-text {
	font-family: $font-second;
	font-size: 28px;
}

.form {
	&__group {
		position: relative;
		display: block;

		&.is-disabled {
			opacity: 0.4;
		}

		&-label {
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.1px;
			color: $color-black;
		}

		&-input {
			width: 100%;
			background: transparent;
			border: 1px solid $color-black;
			padding: 13px 13px 8px;
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.1px;
			outline: none;
			transition: border-color $duration-normal, box-shadow $duration-normal;

			&:focus {
				border-color: $color-system-focus;
				box-shadow: 0 0 6px rgba(110, 165, 199, 0.5);
			}

		}

		&-error {
			color: $color-system-error;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -6px;
			transform: translateY(100%);
			line-height: 1;
			font-size: 12px;
			letter-spacing: 0.1px;
			text-align: right;
			opacity: 0;
		}

		&__up {
			&-label {
				margin-bottom: 6px;
			}
		}

		&__left {
			display: flex;
			&-label {
				display: inline-flex;
			    align-items: flex-end;
			    justify-content: center;
			    flex-direction: column;
			    text-align: right;
			    padding-right: 10px;
			}
		}

		&.is-errored &-input {
			border-color: $color-system-error;
		}

		&.is-errored &-error {
			opacity: 1;
		}

	}

	&-btn {

	}
}

.checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;

	&-input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	&-box {
		height: 16px;
		width: 16px;
		flex: 0 0 16px;
		border: 1px solid $color-graphite;
		margin-right: 8px;
		color: transparent;
		transition: color $duration-normal, border-color $duration-normal, background-color $duration-normal;
	}
	&-text {
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.1px;
		color: $color-black;

		a {
			text-decoration: underline from-font;
			text-decoration-skip-ink: none;
		}
	}

	&:hover &-box {
		border-color: $color-black;
	}

	&-input:checked + &-box {
		border-color: $color-black-hover;
		background-color: $color-black-hover;
		color: #FFF;
	}
}

.slider {
	&__arrow {
		width: 24px;
		height: 24px;
		background-color: transparent;
		border: none;
		padding: 0;
		color: $color-graphite;
		transition: opacity $duration-normal;
		&.swiper-button-disabled {
			opacity: 0;
			pointer-events: none;
		}
	}

	&__arrow-long {
		width: 48px;
		height: 48px;
		background-color: rgba(255, 255, 255, 0.8);
		border: none;
		border-radius: 100%;
		padding: 12px;
		color: $color-graphite;
		box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0 8px 24px -4px rgba(24, 39, 75, 0.08);
		transition: opacity $duration-normal;
		&.swiper-button-disabled {
			opacity: 0;
			pointer-events: none;
		}
	}

	&-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		&.swiper-pagination-lock {
			display: none;
		}
		.swiper-pagination-bullet {
			flex: 0 0 7px;
			width: 7px;
			height: 7px;
			background-color: #C5C3C6;
			border-radius: 100%;
			margin: 0 10px;
			cursor: pointer;

			&.swiper-pagination-bullet-active {
				background-color: $color-black;
			}
		}
	}
}

.text-wrap {
	padding: 24px;
	background: rgba(197, 195, 198, 0.2);
	color: $color-black
}

.text-row {
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1;
}

.text-small {
	font-family: $font-primary;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.1px;
}

.video-frame {
	width: 100%;
	height: 632px;

	@include media-breakpoint-between(sm,lg) {
		height: 470px;
	}

	@include media-breakpoint-only(xs) {
		height: 165px;
	}
}

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
	*,
	*:before,
	*:after {
		animation-duration: 0.001s !important;
		animation-delay: 0s !important;
		transition-duration: 0.001s !important;
		transition-delay: 0s !important;
	}
}
/* stylelint-enable */
